 @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Sofadi+One&display=swap');
:root{
    --cor-principal:#FF1493;
    --cor-secundaria: 	#FF69B4;
    --cor-texto:	#FFB6C1;
    --cor-de-fundo:	#F08080;
    --font:"Gowun Batang", serif;

}
 body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
    height: 100vh;
    margin: 0;

 }
 .cabecalho{
    background-color: var(--cor-secundaria);
    text-align: center;
    
 }
 .cabeçalho__titulo{
   font-size: 2rem;
   color: var(--cor-texto);
font-weight: 700;


 }
.nav{
   display: flex;
   justify-content: center;
   font-weight: 400;   

}
.nav a {
   text-decoration: none;
   color: var(--cor-texto);
   margin: 0 2rem 1rem 0;
   font-size: 1.2rem;
}
nav a:hover{
text-decoration: underline;
transform: scale(6,90);
transition: transform 0,1s;

}