 @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Sofadi+One&display=swap');
:root{
    --cor-principal:#FF1493;
    --cor-secundaria: 	#FF69B4;
    --cor-texto:	#FFB6C1;
    --cor-de-fundo:	#F08080;
    --font:"Gowun Batang", serif;

}